<div class='row'>
  <%= form_for @owner, html: {class: "small-8 columns"} do |f| %>
  <%= f.label(:image_url, class: "label") %>
    <%= f.text_field(:image_url) %>
    <%= f.fields_for :owner_profile, @owner.build_owner_profile do |profile| %>
      <%= profile.label(:neighborhood_id) %>
      <%= profile.collection_select(:neighborhood_id, @neighborhoods, :id, :name) %>
    <% end %>
    <%= f.label(:bio) %>
    <%= f.text_area(:bio) %>
    <%= f.submit class: "button" %>

  <% end %>
</div>
