<h2>Please Set up your profile</h2>

<%= form_for(@owner) do |f| %>
<%= f.label(:image_url) %>
  <%= f.text_field(:image_url) %>
  <br>
  <%= f.fields_for :owner_profile, @owner.build_owner_profile do |profile| %>
    <%= profile.label(:neighborhood_id) %>
    <%= profile.collection_select(:neighborhood_id, @neighborhoods, :id, :name) %>


  <% end %>
  <br>
  <%= f.label(:bio) %>
  <%= f.text_area(:bio) %>
  <%= f.submit %>

<% end %>
