<h3> <%= @dog.name %> </h3>

<%= button_to "Home", root_path %>
<%= button_to "Edit", edit_dog_path(@dog) %>
<%= form_for(@dog, {:method => :delete}) do |f| %>
<%= f.submit "Remove" %>
<% end %>

<p>Age:  <%= @dog.age %> </p>
<p>Size:  <%= Size.find_by(id: @dog.size_id).name %> </p>
<p>Breed:  <%= Breed.find_by(id: @dog.breed_id).name %> </p>
<p>Temperment:  <%= @dog.temperment %> </p>
<p>Description:  <%= @dog.description %> </p>
