<h1>New User</h1>

<%= form_for(@user) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:email) %>
  <%= f.email_field(:email) %>
  <br>
  <%= f.label(:password) %>
  <%= f.password_field(:password) %>
  <%= f.label(:password_confirmation) %>
  <%= f.password_field(:password_confirmation) %>
  <br>
  <%= f.label(:phone) %>
  <%= f.text_field(:phone) %>
  <%= f.label(:image_url) %>
  <%= f.text_field(:image_url) %>
  <br>
  <%= f.label(:owner) %>
  <%= f.check_box(:owner) %>
  <br>
  <%= f.label(:bio) %>
  <%= f.text_area(:bio) %>
  <br>
  <%= f.submit %>

  <% end %>

