<ul>
  <h2><small>Name:</small></h2>

  <p>
    <%= current_walker.first_name %> <%= current_walker.last_name %>
  </p>

  <ul class="small-block-grid-3">
    <li><!-- block 1 --></li>
    <li><!-- block 2 --></li>
    <li><img src="<%= current_walker.image_url %>" alt="profile picture"></li>
  </ul>


  <h2> <small>Your Boro:</small> </h2>
  <%= current_walker.boro.name %>

  <% if current_walker.walker_profile != nil %>
  <h2> <small>Your Neighborhoods:</small> </h2
    <!-- this is super weird, the first element in the array when a
    user adds neighborhoods is an empty string, hence the range that eliminates index -->
    <% a = current_walker.walker_profile.neighborhood_ids[1..-1] %>
    <% a.each do |hood| %>
      <p><%= Neighborhood.find_by(id: hood).name %></p>
    <% end %>


 <h2><small>Your Bio: </small></h2>
 <%= current_walker.bio %>
  <% end %>
</ul>
