<h1>Welcome to pupPromenade</h1>

<% if walker_logged_in? %>
Welcome!

You are a walker!

<a href="/users/profile">Configure Profile</a>

<p><h1>Name:</h1></p>
<p><%= current_walker.first_name %> <%= current_walker.last_name %></p>
<img src="<%= current_walker.image_url %>" alt="profile picture">
<p<h2>Email:</h2></p>
<p><%= current_walker.email %></p>
<p<h2>Phone:</h2></p>
<p><%= current_walker.phone %></p>

<%= link_to "configure profile", walkers_profile_path %>


<% elsif owner_logged_in? %>
Welcome!

You are an owner

<h3><%= current_owner.first_name %> <%= current_owner.last_name %></h3>

  <ul>Your Boro:          <%= current_owner.boro.name %></ul>
  <!-- # OPTIMIZE This neighborhood shit is ugly! -->
  <% if current_owner.owner_profile != nil %>
  <ul>Your Neighborhood:  <%= Neighborhood.find_by(id: current_owner.owner_profile.neighborhood_id).name %></ul>
  <ul>Your Bio:           <%= current_owner.bio %></ul>

  <% end %>
<a href ="/owners/profile">Configure Your Profile</a>
<br>
<br>
<a href="/dogs/new">Add a Puppy!</a>

<h4>Your Puppies!</h4>
<% @dogs.each do |dog| %>
  <ul><%=link_to(dog.name, controller: :dogs, action: :show, id: dog.id) %></ul>
<% end %>
<a href="/logout">Logout</a>

<% else %>

You need to sign up or sign in! <br><br>
<a href="walkers/new">Sign Up as a Dog Walker</a> |
<a href="owners/new">Sign Up as a Dog Owner</a> |
<a href="/session/new">Login</a>

<% end %>
