<h1>Welcome to pupPromenade</h1>

<% if walker_logged_in? %>
Welcome!

You are a walker!

<a href="/walkers/profile">Configure Profile</a>

<h3>Name:</h3></p>
<%= current_walker.first_name %> <%= current_walker.last_name %></p>
<img src="<%= current_walker.image_url %>" alt="profile picture">

<li>
<ul>Your Boro:          <%= current_walker.boro.name %></ul>

  <ul>Your Neighborhoods:  < %= Neighborhood.find_by(id: current_walker.walker_profile.neighborhood_id).name %></ul>
  <ul>Your Bio:            <%= current_walker.bio %></ul>

</li>




<% elsif owner_logged_in? %>
Welcome!

You are an owner

<h3><%= current_owner.first_name %> <%= current_owner.last_name %></h3>
<li>
  <ul>Your Boro:          <%= current_owner.boro.name %></ul>
  <!-- # OPTIMIZE This neighborhood shit is ugly! -->
  <!-- <ul>Your Neighborhood:  < %= Neighborhood.find_by(id: current_owner.owner_profile.neighborhood_id).name %></ul> -->
  <ul>Your Bio:           <%= current_owner.bio %></ul>
</li>

<a href ="/owners/profile">Configure Profile</a>

<h4>Your Puppies!</h4>
<p> This is where the puppies will populate </p>

<a href="/logout">Logout</a>

<% else %>

You need to sign up or sign in! <br><br>
<a href="walkers/new">Sign Up as a Dog Walker</a> |
<a href="owners/new">Sign Up as a Dog Owner</a> |
<a href="/session/new">Login</a>

<% end %>
